/* Themes */
:root.dark {
    --color-base-bg: #3A4663;
    --color-primary-bg: #181F33;
    --color-secondary-bg: #242D44;

    --color-base-text: #FFFFFF;
    --color-alt-text: #434A59;

    --color-base-btn-bg: #EAE3DC;
    --color-alt-btn-bg: #647198;
    --color-unique-btn-bg: #D03F2F;

    --color-base-btn-hover: #FFFFFE;
    --color-alt-btn-hover: #A2B2E1;
    --color-unique-btn-hover: #F96B5B;

    --color-base-btn-shadow: #B3A497;
    --color-alt-btn-shadow: #414E73;
    --color-unique-btn-shadow: #93261A;

    --color-base-btn-text: #fff;
    --color-unique-btn-text: var(--color-base-btn-text);

}

:root.light {
    --color-base-bg: #E6E6E6;
    --color-primary-bg: #EEEEEE;
    --color-secondary-bg: #D2CDCD;

    --color-base-text: #36362C;
    --color-alt-text: var(--color-base-text);

    --color-base-btn-bg: #E5E4E1;
    --color-alt-btn-bg: #378187;
    --color-unique-btn-bg: #C85402;

    --color-base-btn-hover: #FFF;
    --color-alt-btn-hover: #62B5BC;
    --color-unique-btn-hover: #FF8A38;

    --color-base-btn-shadow: #A79E91;
    --color-alt-btn-shadow: #1B6066;
    --color-unique-btn-shadow: #873901;

    --color-base-btn-text: #fff;
    --color-unique-btn-text: var(--color-base-btn-text);
}

/* The theme below is no implemented yet */

:root.night {
    --color-base-bg: #17062A;
    --color-primary-bg: #1E0936;
    --color-secondary-bg: var(--color-primary-bg);

    --color-base-text: #FFE53D;
    --color-alt-text: var(--color-base-text);

    --color-base-btn-bg: #331C4D;
    --color-alt-btn-bg: #56077C;
    --color-unique-btn-bg: #00DED0;

    --color-base-btn-hover: #6C34AC;
    --color-alt-btn-hover: #8631AF;
    --color-unique-btn-hover: #93FFF8;

    --color-base-btn-shadow: #881C9E;
    --color-alt-btn-shadow: #BE15F4;
    --color-unique-btn-shadow: #6CF9F1;

    --color-base-btn-text: #fff;
    --color-unique-btn-text: #1A2327;
}

/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    background-color: var(--color-base-bg);
    color: var(--color-base-text);
    display: flex;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.calc {
    background-color: var(--color-base-bg);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    min-height: 100vh;
    /* padding: 2em 1.5em 1.5em; */
    padding: 0.75em 1.5em;
    width: 100%;
}

/* Header */

.calc_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
    letter-spacing: -0.5px;
}

.selector_header {
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.theme-selector {
    align-items: center;
    display: flex;
    gap: 1.625em;
}

.theme_label {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    justify-content: space-between;
    padding: 0.125em 0.75em;
    width: 71px;
}

.theme_label span {
    cursor: pointer;
}

.theme_picker {
    align-items: center;
    background-color: var(--color-secondary-bg);
    border: none;
    border-radius: 13px;
    cursor: pointer;
    display: flex;
    height: 26px;
    justify-content: flex-start;
    padding: 0 0.5em;
    width: 71px;
}

.picker_oval {
    background-color: var(--color-unique-btn-bg);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px;
}

.picker_oval:hover {
    background-color: var(--color-unique-btn-hover);
}

.selector_toggle {
    align-items: center;
    display: flex;
    gap: 0.25em;
    flex-direction: column;
}

/* Main */

.calc_main {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.main_display {
    background-color: var(--color-primary-bg);
    border-radius: 10px;
    font-size: 2.5rem;
    letter-spacing: -0.667px;
    overflow: auto;
    padding: 0.6em;
    text-align: right;
}

.main_pad {
    background-color: var(--color-secondary-bg);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em 0.875em;
    justify-content: space-around;
    padding: 1.5em;

}

.pad_button {
    background-color: var(--color-base-btn-bg);
    border: none;
    border-radius: 5px;
    box-shadow: 0px -4px 0px 0px var(--color-base-btn-shadow) inset;
    color: var(--color-alt-text);
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    height: 64px;
    width: 20%;
}

.pad_button:hover {
    background-color: var(--color-base-btn-hover);
}

button:focus-visible {
    outline: none;
}

.special {
    background-color: var(--color-alt-btn-bg);
    box-shadow: 0px -4px 0px 0px var(--color-alt-btn-shadow) inset;
    color: var(--color-base-btn-text);
    font-size: 1.25rem;
}

.special:hover {
    background-color: var(--color-alt-btn-hover);
}

.unique {
    background: var(--color-unique-btn-bg);
    box-shadow: 0px -4px 0px 0px var(--color-unique-btn-shadow) inset;
    color: var(--color-unique-btn-text);
    font-size: 1.25rem;
}

.unique:hover {
    background-color: var(--color-unique-btn-hover);
}

.large {
    width: 45%;
    height: 64px;
}

@media only screen and (min-width: 33.75em) {
    body {
        min-height: 100vh;
    }

    .calc {
        max-width: 540px;
        min-height: auto;
        padding: 0.75em 1.5em;
    }
}