* {
    box-sizing: border-box;
    margin: 0;
}

body {
    
    background-color: cyan;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    height: 90vh;
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid goldenrod; */
}

.container {
    height: 500px;
    width: 400px;
    border-radius: 5px;
    border: 2px solid #333;
}

.display {
    height: 15%;
    width: 100%;
    text-align: end;
    padding-top: 25px;
    padding-right: 10px;
    border: 1px solid black;
}

.pad-container {
    height: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(5, 1fr) ;
}

.extras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 4;
}

.operators {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-column: 4;
    grid-row: 1 / 6;
}

.operands {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

 #zero-btn {
    grid-column: span 2;
}